:root {
    --primary: #facc15;
    --vp-c-brand-1: var(--primary);
    --vp-c-brand-2: var(--primary);
    --vp-c-brand-3: var(--primary);
    --vp-c-black: #333;
    --vp-button-brand-text: var(--vp-c-black);
    --vp-button-brand-hover-text: var(--vp-c-black);
    --vp-button-brand-active-text: var(--vp-c-black);
    /* --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  ); */
    /* --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(44px); */
}

#blocklyArea {
    /* width: 100%; */
    position: relative;
}

#blocklyDiv {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
